<html>
<header>
    <title>Placement</title>
    <link href="static/css/nouislider.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/style.css" media="screen" />
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="static/js/nouislider.min.js"></script>
    <script src="static/js/script.js"></script>
</header>
<body>
  <div class = "container">
    <div style="float: left">
      <div>
        <h1>Forest Fires</h1>
        <div id="scatter"></div>
      </div>
      <div><h1>Number of Forest Fires by Month</h1><div id="bar"></div></div>
    </div>

    <div style="float: left; margin-left: 50px;">
      

      <h3>Internships</h3><div id="internships-slider" style="width:400pt; display: inline-block"></div>
      <h3>Projects</h3><div id="projects-slider" style="width:400pt; display: inline-block"></div>
      <h3>Aptitude Test Score</h3><div id="aptitude-slider" style="width:400pt; display: inline-block"></div>
      <h3>Soft Skills Rating</h3><div id="soft-slider" style="width:400pt; display: inline-block"></div>
      <h3>SSC_Marks</h3><div id="ssc-marks-slider" style="width:400pt; display: inline-block"></div>
      <h3>HSC_Marks</h3><div id="hsc-marks-slider" style="width:400pt; display: inline-block"></div>
    
      <div id="barchart">
      <div id="barChartButton">
        <p>
          <h3>Extracurricular Activities</h3>
          <input
            type="radio"
            id="extratrue"
            name="extrabutton"
            value="True"
            checked
          />
          <label for="extratrue">True</label>
          
          <input type="radio" id="extrafalse" name="extrabutton" value="False" />
          <label for="extrafalse">False</label>
        </p>
      </div>
      <div id="barchart_legend"></div>
      <div id="my_barchart"></div>

      <div id="barchart">
      <div id="barChartButton">
        <p>
          <h3>Placement Training</h3>
          <input
            type="radio"
            id="extratrue"
            name="placementbutton"
            value="True"
            checked
          />
          <label for="extratrue">True</label>
          
          <input type="radio" id="extrafalse" name="placementbutton" value="False" />
          <label for="extrafalse">False</label>
        </p>
      </div>
      <div id="barchart_legend"></div>
      <div id="my_barchart"></div>
      
    </div>
    
    </div>
  </div>
</body>

<script>
  margin = {top: 45, right: 30, bottom: 30, left: 45},
  width = 460 - margin.left - margin.right,
  height = 360 - margin.top - margin.bottom;

  scatter_svg = draw_svg('scatter', margin, width, height)
  scatter_scale = draw_axes('scatter', scatter_svg, width, height, {{scatter_ranges[:2]}}, {{scatter_ranges[2:]}}, false)

  bar_svg = draw_svg('bar', margin, width, height)
  bar_scale = draw_axes('bar', bar_svg, width, height, {{months|safe}}, [0, {{max_count}}], true)

  {% for column, (min,max) in filter_ranges.items() %}
    draw_slider('{{column}}', {{min}}, {{max}}, scatter_svg, bar_svg, scatter_scale, bar_scale)
  {% endfor %}

  update(scatter_svg, bar_svg, scatter_scale, bar_scale)
  function update_checked(checkbox){
    checkbox.classList.toggle('day-selected')
    update(scatter_svg, bar_svg, scatter_scale, bar_scale)
  }

</script>
</html>