<html>
<header>
    <title>Placement</title>
    <link href="static/css/nouislider.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/style.css" media="screen" />
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="static/js/nouislider.min.js"></script>
    <script src="static/js/script.js"></script>
</header>
<body>
<div id="interactions-container">
        <div id="dropdown-container">
            <label for="grouper"> X: </label>
            <!-- DONE: update the bar chart when the grouper is changed -->
            <select name="grouper" onchange="update_aggregate(this.value, 'grouper')">
                {% for group in groups %}
                    <option value="{{group}}">{{ group }}</option>
                {% endfor %}
            </select>
            <label for="value"> Y: </label>
            <!-- DONE: update the bar chart when the value is changed -->
            <select name="value" onchange="update_aggregate(this.value, 'value')">
                {% for value in values %}
                    <option value="{{value}}">{{ value }}</option>
                {% endfor %}
            </select>
            <label for="agg"> Facet: </label>
            <!-- DONE: update the bar chart when the aggregate function is changed -->
            <select name="agg" onchange="update_aggregate(this.value, 'agg')">
                {% for agg in aggs %}
                    <option value="{{agg}}">{{ agg }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
  <div class = "container">
    <div style="display: inline-block; vertical-align: top">
        <h1>Placement Status: Placed</h1>
        <div id="scatter_placed"></div>
    </div>

    <div style="display: inline-block; vertical-align: top">
        <h1>Placement Status: Not Placed</h1>
        <div id="scatter_notplaced"></div>
    </div>

    <div style="display: inline-block; vertical-align: top; margin-left: 10px;">
      
      <h3>Internships</h3><div id="internships-slider" style="width:300pt; display: inline-block"></div>
      <h3>Projects</h3><div id="projects-slider" style="width:300pt; display: inline-block"></div>
      <h3>Aptitude Test Score</h3><div id="aptitude-slider" style="width:300pt; display: inline-block"></div>
      <h3>Soft Skills Rating</h3><div id="soft-slider" style="width:300pt; display: inline-block"></div>
      <h3>SSC_Marks</h3><div id="ssc-marks-slider" style="width:300pt; display: inline-block"></div>
      <h3>HSC_Marks</h3><div id="hsc-marks-slider" style="width:300pt; display: inline-block"></div>
    
      <div id="barchart">
      <div id="barChartButton">
        <p>
          <h3>Extracurricular Activities</h3>
          <input
            type="radio"
            id="extratrue"
            name="extrabutton"
            value="True"
            checked
          />
          <label for="extratrue">True</label>
          
          <input type="radio" id="extrafalse" name="extrabutton" value="False" />
          <label for="extrafalse">False</label>
        </p>
      </div>
      <div id="barchart_legend"></div>
      <div id="my_barchart"></div>

      <div id="barchart">
      <div id="barChartButton">
        <p>
          <h3>Placement Training</h3>
          <input
            type="radio"
            id="extratrue"
            name="placementbutton"
            value="True"
            checked
          />
          <label for="extratrue">True</label>
          
          <input type="radio" id="extrafalse" name="placementbutton" value="False" />
          <label for="extrafalse">False</label>
        </p>
      </div>
      <div id="barchart_legend"></div>
      <div id="my_barchart"></div>
      
    </div>
    
    </div>
  </div>
</body>

<script>
  margin = {top: 45, right: 30, bottom: 30, left: 45},
  // width = 460 - margin.left - margin.right,
  // height = 360 - margin.top - margin.bottom;
  width = 400 - margin.left - margin.right,
  height = 300 - margin.top - margin.bottom;

  scatter_placed_svg = draw_svg('scatter_placed', margin, width, height)
  scatter_placed_scale = draw_axes('scatter_placed', scatter_placed_svg, width, height, {{scatter_ranges[:2]}}, {{scatter_ranges[2:]}}, false)

  scatter_notplaced_svg = draw_svg('scatter_notplaced', margin, width, height)
  scatter_notplaced_scale = draw_axes('scatter_notplaced', scatter_notplaced_svg, width, height, {{scatter_ranges[:2]}}, {{scatter_ranges[2:]}}, false)

  {% for column, (min,max) in filter_ranges.items() %}
    draw_slider('{{column}}', {{min}}, {{max}}, scatter_placed_svg, scatter_notplaced_svg, scatter_placed_scale, scatter_notplaced_scale)
  {% endfor %}

  update(scatter_placed_svg, scatter_notplaced_svg, scatter_placed_scale, scatter_notplaced_scale)
  console.log("updated")

</script>
</html>